@use "../node_modules/bootstrap/scss/bootstrap.scss" with (

    $primary: #7DD956,
    $secondary: #878C90,
    $success: #7BED4A,
    $info: #1D7ABD,
    $warning: #FABF0F,
    $danger: #D34553,
);

.btn-outline-light {
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-success);
}

// ---------------- ARTICLES - START --------------- //

.article-img {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .article-img {
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .article-img {
        max-width: 100%;
        height: 94%;
        object-fit: cover;
        object-position: 50% 0%;
    }
}

// ---------------- ARTICLES - END --------------- //

// ---------------- LINKS - START --------------- //

.link-twitter-color {
    color: #1DA1F2 !important;
}

.link-facebook-color {
    color: #4267B2 !important;
}

.link-rss-color {
    color: #EE802F !important;
}

// ---------------- LINKS - END  --------------- //