@use "../node_modules/bootstrap/scss/bootstrap.scss" with (

    $primary: #7DD956,
    $secondary: #71777c,
    $success: #7BED4A,
    $info: #1D7ABD,
    $warning: #FABF0F,
    $danger: #D34553,
);

.btn-outline-light {
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-success);
}
