.footer-logo {
    width: 120px;
    height: 120px;
}

@media (min-width: 768px) {
    .footer-logo {
        width: 180px;
        height: 180px;
    }
}

footer .nav-link {
    padding: 0.25rem var(--bs-nav-link-padding-x);
    &:hover {
        color: darken(#f9fafb, 10%) !important;
    }
}