@use 'custom';
@use 'fonts';
@use 'keyframes';
@use 'header';
@use 'footer';

// ---------------- INDEX - START --------------- //

// ---------------- INDEX ARTICLES - START --------------- //

.article-img {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .article-img {
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .article-img {
        max-width: 100%;
        height: 94%;
        object-fit: cover;
        object-position: 50% 0%;
    }
}

// ---------------- INDEX ARTICLES - END --------------- //

// ---------------- INDEX LINKS - START --------------- //

.link-twitter-color {
    color: #1DA1F2 !important;
}

.link-facebook-color {
    color: #4267B2 !important;
}

.link-rss-color {
    color: #EE802F !important;
}

// ---------------- INDEX LINKS - END  --------------- //

// ---------------- INDEX - END --------------- //




// ---------------- ASSOC - START  --------------- //

.img-assoc {
    display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-assoc {
        display: inline;
        object-fit: cover;
        object-position: 50% 50%;
        width: auto;
        max-width: 100%;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .img-assoc {
        display: inline;
        max-width: 420px;
        width: 100%;
    }
}

// ---------------- ASSOC CARDS - START --------------- //

.card-picture {
    overflow: hidden;
    .card-img {
        max-width: 400px;
        height: 220px;
        object-fit: cover;
        object-position: 50% 50%;
        filter: none;
        transition: all 300ms;
    
        &:hover {
            transform: scale(1.1);
            filter: brightness(112%);
            transition: all 300ms;
        }
    }
}



// ---------------- ASSOC CARDS - END --------------- //

// ---------------- ASSOC - END  --------------- //




// ---------------- CONTACT - START  --------------- //

// ---------------- LEAFLET-MAP - START  --------------- //

.leaflet-map {
    height: 200px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .leaflet-map {
        height: 220px;
    } 
}

@media (min-width: 768px) {
    .leaflet-map {
        height: 260px;
    } 
}

// ---------------- LEAFLET-MAP - END  --------------- //

// ---------------- CONTACT - END  --------------- //

